@import '../../../components/variables.scss';

.mainpanel {
  display: flex;
  flex-direction: column;
  // width: 30%;
  margin: auto;
  min-width: var(--col-width-mobile);
}

.btn{
  width: auto !important;
}

legend{
  margin-bottom: 10px;
}

// input{
//   width: 100%;
// }